# Игнорируемые папки
.idea/
.venv/
__pycache/
*/__pycache__/
*.py[cod]
database/bot.db  # Игнорируем файл базы данных

# Игнорируемые файлы
.env

# Исключения (папки, которые нужно пушить)
!openrouter/
!database/

# Добавляем исключение для логов (чтобы не коммитить их)
chat_logs/
!chat_logs/README.md